{% extends "!page.html" %}

{% set css_files = css_files + ["//fonts.googleapis.com/css?family=Iceberg",
                                "_static/custom.css"] %}

{% set script_files = script_files + ["_static/custom.js"] %}

{% block haikurel2 %}
{%- if pagename != "search" %}
<div id="searchbox" style="display:none" role="search">
    <form class="search" action="{{ pathto('search') }}" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Zoeken" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
{%- endif %}
{% endblock %}

{% block footer %}
<div class="footer" role="contentinfo">
  <a href="http://creativecommons.org/licenses/by-sa/3.0/nl/">
    <img alt="cc-by-sa logo" width=80 height=15 src="_static/cc-by-sa-small.png" />
  </a>{%- if show_source and has_source and sourcename %}
  <br/>Pagina gebouwd vanuit
  <a href="{{ pathto('_sources/' + sourcename, true)|e }}" rel="nofollow">{{ sourcename }}</a>
  versie {{ release }}.
  {%- endif %}
</div>
{{ super() }}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66629379-1', 'auto');
  ga('set', 'forceSSL', true); // Toelichting CBP: Gebruik altijd https voor Google Analytics
  ga('set', 'anonymizeIp', true);// Toelichting CBP: Zet de IP-maskering aan
  ga('send', 'pageview');
</script>
{% endblock %}
