
.stitle {background-color:silver;}
.wtitle {background-color:skyblue;}
.ttitle {background-color:gold;}
.utitle {background-color:tomato;}
.dtitle {background-color:palegreen;}
.stitle,
.dtitle,
.ttitle,
.wtitle,
.utitle {
    display: inline-block;
    font-family: 'Iceberg', monospace;
}

a .stitle,
a .dtitle,
a .ttitle,
a .wtitle,
a .utitle {
    color: black;
}

.stitle::first-letter,
.ttitle::first-letter,
.utitle::first-letter,
.dtitle::first-letter,
.wtitle::first-letter {color:white;}

.toggle .admonition-title {
    display: block;
    clear: both;
}

.toggle .admonition-title:after {
    content: " (weergeven)";
}

.toggle .admonition-title.open:after {
    content: " (verbergen)";
}

div.header img.rightlogo {
    padding: 1em;
}
