
.stitle-parent {background-color:silver;}
.wtitle-parent {background-color:skyblue;}
.ttitle-parent {background-color:gold;}
.utitle-parent {background-color:tomato;}
.dtitle-parent {background-color:palegreen;}
a .stitle,
a .dtitle,
a .ttitle,
a .wtitle,
a .utitle {
    display: inline-block;
    color: black;
    font-family: 'Iceberg', monospace;
}

.stitle::first-letter,
.ttitle::first-letter,
.utitle::first-letter,
.dtitle::first-letter,
.wtitle::first-letter {color:white;}

.toggle .admonition-title {
    display: block;
    clear: both;
}

.toggle .admonition-title:after {
    content: " (weergeven)";
}

.toggle .admonition-title.open:after {
    content: " (verbergen)";
}


