body{
    font-family: "Open Sans","Lucida Grande","Lucida Sans Unicode","Geneva","Verdana",sans-serif;
}

iframe{    
    border: none;
    width: 100%;
    border-radius: 4px;
    overflow: auto;
    resize: vertical;
}

div.icontainer .head:after {
    content: " (weergeven)";
}

div.icontainer .head.open:after {
    content: " (verbergen)";
}

pre,
code,
kbd,
samp,
tt{
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size:1em;
}

pre{
    border-radius: 4px;
}

.stitle {background-color:silver;}
.wtitle {background-color:skyblue;}
.ttitle {background-color:gold;}
.utitle {background-color:tomato;}
.dtitle {background-color:palegreen;}
.xtitle {background-color:mediumorchid;}
.stitle,
.dtitle,
.ttitle,
.wtitle,
.xtitle,
.utitle {
    display: inline-block;
    font-family: 'Iceberg', monospace;
}

a .stitle,
a .xtitle,
a .dtitle,
a .ttitle,
a .wtitle,
a .utitle {
    color: black;
}

.xtitle::first-letter,
.stitle::first-letter,
.ttitle::first-letter,
.utitle::first-letter,
.dtitle::first-letter,
.wtitle::first-letter {color:white;}

.toggle .admonition-title {
    display: block;
    clear: both;
}

.toggle .admonition-title:after {
    content: " (weergeven)";
}

.toggle .admonition-title.open:after {
    content: " (verbergen)";
}

div.header img.rightlogo {
    padding: 1em;
}

.kbd {
    display: inline-block;
    border: 1px solid white;
    background-color: black;
    padding: 1px 5px;
    color: white;
}

.file {
    border: 1px solid black;
    font-family: monospace;
    font-size: 120%;
    padding: 1px 5px;
}

blockquote .attribution {
    text-align: right;
}

.def {
    font-style: oblique;
    font-weight: bold;
    color: green;
}
